In [35]:
# Import packages 
import pandas as pd
import numpy as np
import pandas.io.sql as sql
import pymysql
import thefuzz
import xlwt
import sqlalchemy
import time
import civitatisAPI as civi
import requests
import json
import difflib


from requests.auth import HTTPBasicAuth
from thefuzz import fuzz
from thefuzz import process
from sqlalchemy import create_engine
from pymysql import*
from IPython.display import clear_output

#### 1) Extract and prepare cPanel tables

In [36]:
# cPanel credentials and connection
user= 'beder'
password="hTz8@A6Yn652"
host="server.digizonelabs.com"
databases_schema = []

con=connect(user="beder",password="hTz8@A6Yn652",host="server.digizonelabs.com",database="beder_appprod")

In [37]:
# Call tables: place & posts
posts=sql.read_sql('select * from beder_appprod.post',con)
place=sql.read_sql('select * from beder_appprod.place',con)

c:\Users\beder\.conda\envs\ACTIMPLE2022\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\beder\.conda\envs\ACTIMPLE2022\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [38]:
#Call Geo-dimensional tables
countries=sql.read_sql('select * from beder_appprod.countries',con)
regions=sql.read_sql('select * from beder_appprod.regions',con)
provinces=sql.read_sql('select * from beder_appprod.provinces',con)
cities=sql.read_sql('select * from beder_appprod.cities',con)

c:\Users\beder\.conda\envs\ACTIMPLE2022\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\beder\.conda\envs\ACTIMPLE2022\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\beder\.conda\envs\ACTIMPLE2022\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(
c:\Users\beder\.conda\envs\ACTIMPLE2022\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [39]:
cities.shape

(2384, 34)

In [40]:
# Table with all destinations: Regions, provinces and cities
frames = [regions,provinces,cities]
merged_locations= pd.concat(frames)
merged_locations.columns

Index(['region_id', 'country_id', 'top_region_id', 'google_api_level',
       'google_id', 'english_name', 'spanish_name', 'top_spot_level_1',
       'top_area_level_1', 'reference_airport', 'spot_image',
       'discover_image_1', 'discover_image_2', 'discover_image_3',
       'rules_level_3', 'rules_level_4', 'sports_and_adventure', 'nature',
       'attractions', 'beach', 'food', 'nightlife', 'arts_and_culture',
       'accomodation', 'created_at', 'updated_at', 'airport_id', 'latitude',
       'longitude', 'province_id', 'sub_region_id', 'top_spot_level_2',
       'top_area_level_2', 'city_id', 'sub_province_id', 'top_spot_level_3',
       'top_area_level_3', 'spots_are_loaded'],
      dtype='object')

In [29]:
# Filter columns in all destinations table
merged_locations=merged_locations[['country_id','region_id','province_id','city_id','google_id','google_api_level','english_name','spanish_name']]
merged_locations.sample(10)

,country_id,region_id,province_id,city_id,google_id,google_api_level,english_name,spanish_name
1755,59,560.0,1301.0,1200027.0,ChIJ_cFW60iHOI4RvN_x-RCUs5U,locality,Pereira,Pereira
2296,208,1461.0,2464.0,NaN,ChIJi4YXcf1fARURtDdOgY05onM,administrative_area_level_2,Shobak Qasabah District,Distrito Shobak Qasabah
265,18,191.0,276.0,NaN,ChIJw7lqE2uDyUARzjy2oo2yCtM,administrative_area_level_1,Ialoveni,Ialoveni
1963,194,1652.0,2125.0,NaN,ChIJ3_LdAHQE4TkRTanQZ4keJTs,administrative_area_level_1,Paro,Paro
1685,197,1754.0,NaN,NaN,ChIJwSxKnH4xYTcRmdoThGIswR8,administrative_area_level_1,Tibet,Tíbet
135,15,175.0,NaN,142.0,ChIJBeWEjWlODhMRNwXdmBiZDGA,locality,Saint Paul's Bay,San Pawl il-Baħar
305,203,1634.0,2403.0,317.0,ChIJW9fYFzyahzIRrw8zJvIpc-A,natural_feature,Bunaken Island,Isla Bunaken
215,25,227.0,NaN,NaN,ChIJCxVihNKQPxMRcSMmPSQdpJE,administrative_area_level_1,Calabria,Calabria
833,108,850.0,NaN,NaN,ChIJv5wGTgUJC2YRPEInRa0WmQM,administrative_area_level_1,Pohnpei,Pohnpei
2795,201,1674.0,60142.0,NaN,ChIJKehw7VFuADMRcyJX57UcJCg,administrative_area_level_2,Camiguín,Camiguín

#### 2) CIVITATIS destinations

In [41]:
# Load destinations from CIVITATIS
df_civitatis = pd.read_csv ("C:/Users/beder/Desktop/Data 2022/Projects/CIVITATIS-IMPLEMENTATION2022/Project Files/CIVITATIS-GLOBAL-TASKS/name_matching/input/all_destinations04_08_2022.csv")
df_civitatis.rename(columns = {'id':'destinationId','name':'destination_name','photos':'destination_photo'}, inplace = True)
df_civitatis.head(10)
df_civitatis.shape

(3234, 6)

#### 3) Merge only using beder table cities

In [42]:
# Filter civitatis and cities dataframe 
civitatis_filtered = df_civitatis[['destinationId','destination_name']]
cities_filtered = cities[['city_id', 'english_name', 'spanish_name', 'country_id']]

In [43]:
cities_filtered

      city_id   english_name   spanish_name  country_id
0           1        Seville        Sevilla           1
1           2        Granada        Granada           1
2           3        Córdoba        Córdoba           1
3           4         Málaga         Málaga           1
4           5       Marbella       Marbella           1
...       ...            ...            ...         ...
2379  1200757       Limerick       Limerick          37
2380  1200758     Castlecove     Castlecove          37
2381  1200759        Guatapé        Guatapé          59
2382  1200761        Guatiza        Guatiza           1
2383  1200762  Costa Teguise  Costa Teguise           1

[2384 rows x 4 columns]

In [44]:
# First merge: without preparation
m_1 = pd.merge(civitatis_filtered,cities_filtered, how = 'left',left_on='destination_name',right_on='english_name')

In [47]:
m_1.shape

(3252, 6)

In [49]:
m_1[m_1['english_name'].isna()]

,destinationId,destination_name,city_id,english_name,spanish_name,country_id
3,4,Menorca,NaN,NaN,NaN,NaN
7,8,New York,NaN,NaN,NaN,NaN
13,15,Hong Kong,NaN,NaN,NaN,NaN
20,22,Singapore,NaN,NaN,NaN,NaN
22,24,Tokyo,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...
3247,4842,Santa Fe de Mondújar,NaN,NaN,NaN,NaN
3248,4843,Pedrajas de San Esteban,NaN,NaN,NaN,NaN
3249,4844,Puerto de Carti,NaN,NaN,NaN,NaN
3250,4845,Ceiba,NaN,NaN,NaN,NaN
3251,4846,Culebra,NaN,NaN,NaN,NaN

#### 4) Using Fuzzy matching

In [50]:
fuzz_cities = cities_filtered
fuzz_civitatis = civitatis_filtered

In [63]:
fuzz_cities

      city_id   english_name   spanish_name  country_id
0           1        Seville        Sevilla           1
1           2        Granada        Granada           1
2           3        Córdoba        Córdoba           1
3           4         Málaga         Málaga           1
4           5       Marbella       Marbella           1
...       ...            ...            ...         ...
2379  1200757       Limerick       Limerick          37
2380  1200758     Castlecove     Castlecove          37
2381  1200759        Guatapé        Guatapé          59
2382  1200761        Guatiza        Guatiza           1
2383  1200762  Costa Teguise  Costa Teguise           1

[2384 rows x 4 columns]

In [51]:
fuzz_civitatis

      destinationId         destination_name
0                 1                   Venice
1                 2                   Madrid
2                 3                   Prague
3                 4                  Menorca
4                 5                   London
...             ...                      ...
3229           4842     Santa Fe de Mondújar
3230           4843  Pedrajas de San Esteban
3231           4844          Puerto de Carti
3232           4845                    Ceiba
3233           4846                  Culebra

[3234 rows x 2 columns]

In [52]:
fuzz_civitatis['destination_name_match'] = fuzz_civitatis['destination_name']

C:\Users\beder\AppData\Local\Temp\ipykernel_9728\2385714225.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fuzz_civitatis['destination_name_match'] = fuzz_civitatis['destination_name']

In [53]:
fuzz_civitatis['destination_name'] = fuzz_civitatis['destination_name'].apply(lambda x: difflib.get_close_matches(x, fuzz_cities['english_name']))

C:\Users\beder\AppData\Local\Temp\ipykernel_9728\2735564597.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fuzz_civitatis['destination_name'] = fuzz_civitatis['destination_name'].apply(lambda x: difflib.get_close_matches(x, fuzz_cities['english_name']))

In [54]:
fuzz_civitatis

,destinationId,destination_name,destination_name_match
0,1,"[Venice, Vic, Venhuizen]",Venice
1,2,"[Madrid, Mérida, Mérida]",Madrid
2,3,"[Prague, Page, Portmagee]",Prague
3,4,"[Mendoza, Lorca, Glenorchy]",Menorca
4,5,"[London, Condado, Lyon]",London
...,...,...,...
3229,4842,"[Sant Llorenç de Montgai, Santa Monica, Sant J...",Santa Fe de Mondújar
3230,4843,[Vegas de San Esteban],Pedrajas de San Esteban
3231,4844,"[Puerto de la Cruz, Puerto Varas, Puerto Valla...",Puerto de Carti
3232,4845,"[Cebu, Sesimbra, Curitiba]",Ceiba
3233,4846,"[Coura, Cudillero, Consuegra]",Culebra

In [55]:
# rename columns 
fuzz_civitatis.rename(columns = {'destination_name':'beders_name','destination_name_match':'civitatis_name'}, inplace = True)
# create the synthetic (key) counter
fuzz_civitatis['counter'] = range(len(fuzz_civitatis))
fuzz_civitatis

C:\Users\beder\AppData\Local\Temp\ipykernel_9728\4241289277.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fuzz_civitatis.rename(columns = {'destination_name':'beders_name','destination_name_match':'civitatis_name'}, inplace = True)
C:\Users\beder\AppData\Local\Temp\ipykernel_9728\4241289277.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  fuzz_civitatis['counter'] = range(len(fuzz_civitatis))

,destinationId,beders_name,civitatis_name,counter
0,1,"[Venice, Vic, Venhuizen]",Venice,0
1,2,"[Madrid, Mérida, Mérida]",Madrid,1
2,3,"[Prague, Page, Portmagee]",Prague,2
3,4,"[Mendoza, Lorca, Glenorchy]",Menorca,3
4,5,"[London, Condado, Lyon]",London,4
...,...,...,...,...
3229,4842,"[Sant Llorenç de Montgai, Santa Monica, Sant J...",Santa Fe de Mondújar,3229
3230,4843,[Vegas de San Esteban],Pedrajas de San Esteban,3230
3231,4844,"[Puerto de la Cruz, Puerto Varas, Puerto Valla...",Puerto de Carti,3231
3232,4845,"[Cebu, Sesimbra, Curitiba]",Ceiba,3232
3233,4846,"[Coura, Cudillero, Consuegra]",Culebra,3233

##### Dealing with list in column beders_name

In [56]:
# Finding the type of the column
for i, l in enumerate(fuzz_civitatis['beders_name']):
    print("list",i,"is", type(l))

list 0 is <class 'list'>
list 1 is <class 'list'>
list 2 is <class 'list'>
list 3 is <class 'list'>
list 4 is <class 'list'>
list 5 is <class 'list'>
list 6 is <class 'list'>
list 7 is <class 'list'>
list 8 is <class 'list'>
list 9 is <class 'list'>
list 10 is <class 'list'>
list 11 is <class 'list'>
list 12 is <class 'list'>
list 13 is <class 'list'>
list 14 is <class 'list'>
list 15 is <class 'list'>
list 16 is <class 'list'>
list 17 is <class 'list'>
list 18 is <class 'list'>
list 19 is <class 'list'>
list 20 is <class 'list'>
list 21 is <class 'list'>
list 22 is <class 'list'>
list 23 is <class 'list'>
list 24 is <class 'list'>
list 25 is <class 'list'>
list 26 is <class 'list'>
list 27 is <class 'list'>
list 28 is <class 'list'>
list 29 is <class 'list'>
list 30 is <class 'list'>
list 31 is <class 'list'>
list 32 is <class 'list'>
list 33 is <class 'list'>
list 34 is <class 'list'>
list 35 is <class 'list'>
list 36 is <class 'list'>
list 37 is <class 'list'>
list 38 is <class 'list'>
list 39 is <class 'list'>
list 40 is <class 'list'>
list 41 is <class 'list'>
list 42 is <class 'list'>
list 43 is <class 'list'>
list 44 is <class 'list'>
list 45 is <class 'list'>
list 46 is <class 'list'>
list 47 is <class 'list'>
list 48 is <class 'list'>
list 49 is <class 'list'>
list 50 is <class 'list'>
list 51 is <class 'list'>
list 52 is <class 'list'>
list 53 is <class 'list'>
list 54 is <class 'list'>
list 55 is <class 'list'>
list 56 is <class 'list'>
list 57 is <class 'list'>
list 58 is <class 'list'>
list 59 is <class 'list'>
list 60 is <class 'list'>
list 61 is <class 'list'>
list 62 is <class 'list'>
list 63 is <class 'list'>
list 64 is <class 'list'>
list 65 is <class 'list'>
list 66 is <class 'list'>
list 67 is <class 'list'>
list 68 is <class 'list'>
list 69 is <class 'list'>
list 70 is <class 'list'>
list 71 is <class 'list'>
list 72 is <class 'list'>
list 73 is <class 'list'>
list 74 is <class 'list'>
list 75 is <class 'list'>
list 76 is <class 'list'>
list 77 is <class 'list'>
list 78 is <class 'list'>
list 79 is <class 'list'>
list 80 is <class 'list'>
list 81 is <class 'list'>
list 82 is <class 'list'>
list 83 is <class 'list'>
list 84 is <class 'list'>
list 85 is <class 'list'>
list 86 is <class 'list'>
list 87 is <class 'list'>
list 88 is <class 'list'>
list 89 is <class 'list'>
list 90 is <class 'list'>
list 91 is <class 'list'>
list 92 is <class 'list'>
list 93 is <class 'list'>
list 94 is <class 'list'>
list 95 is <class 'list'>
list 96 is <class 'list'>
list 97 is <class 'list'>
list 98 is <class 'list'>
list 99 is <class 'list'>
list 100 is <class 'list'>
list 101 is <class 'list'>
list 102 is <class 'list'>
list 103 is <class 'list'>
list 104 is <class 'list'>
list 105 is <class 'list'>
list 106 is <class 'list'>
list 107 is <class 'list'>
list 108 is <class 'list'>
list 109 is <class 'list'>
list 110 is <class 'list'>
list 111 is <class 'list'>
list 112 is <class 'list'>
list 113 is <class 'list'>
list 114 is <class 'list'>
list 115 is <class 'list'>
list 116 is <class 'list'>
list 117 is <class 'list'>
list 118 is <class 'list'>
list 119 is <class 'list'>
list 120 is <class 'list'>
list 121 is <class 'list'>
list 122 is <class 'list'>
list 123 is <class 'list'>
list 124 is <class 'list'>
list 125 is <class 'list'>
list 126 is <class 'list'>
list 127 is <class 'list'>
list 128 is <class 'list'>
list 129 is <class 'list'>
list 130 is <class 'list'>
list 131 is <class 'list'>
list 132 is <class 'list'>
list 133 is <class 'list'>
list 134 is <class 'list'>
list 135 is <class 'list'>
list 136 is <class 'list'>
list 137 is <class 'list'>
list 138 is <class 'list'>
list 139 is <class 'list'>
list 140 is <class 'list'>
list 141 is <class 'list'>
list 142 is <class 'list'>
list 143 is <class 'list'>
list 144 is <class 'list'>
list 145 is <class 'list'>
list 146 is <class 'list'>
list 147 is <class 'list'>
list 148 is <class 'list'>
list 149 is <class 'list'>
list 150 is <class 'list'>
list 151 is <class 'list'>
list 152 is <class 'list'>
list 153 is <class 'list'>
list 154 is <class 'list'>
list 155 is <class 'list'>
list 156 is <class 'list'>
list 157 is <class 'list'>
list 158 is <class 'list'>
list 159 is <class 'list'>
list 160 is <class 'list'>
list 161 is <class 'list'>
list 162 is <class 'list'>
list 163 is <class 'list'>
list 164 is <class 'list'>
list 165 is <class 'list'>
list 166 is <class 'list'>
list 167 is <class 'list'>
list 168 is <class 'list'>
list 169 is <class 'list'>
list 170 is <class 'list'>
list 171 is <class 'list'>
list 172 is <class 'list'>
list 173 is <class 'list'>
list 174 is <class 'list'>
list 175 is <class 'list'>
list 176 is <class 'list'>
list 177 is <class 'list'>
list 178 is <class 'list'>
list 179 is <class 'list'>
list 180 is <class 'list'>
list 181 is <class 'list'>
list 182 is <class 'list'>
list 183 is <class 'list'>
list 184 is <class 'list'>
list 185 is <class 'list'>
list 186 is <class 'list'>
list 187 is <class 'list'>
list 188 is <class 'list'>
list 189 is <class 'list'>
list 190 is <class 'list'>
list 191 is <class 'list'>
list 192 is <class 'list'>
list 193 is <class 'list'>
list 194 is <class 'list'>
list 195 is <class 'list'>
list 196 is <class 'list'>
list 197 is <class 'list'>
list 198 is <class 'list'>
list 199 is <class 'list'>
list 200 is <class 'list'>
list 201 is <class 'list'>
list 202 is <class 'list'>
list 203 is <class 'list'>
list 204 is <class 'list'>
list 205 is <class 'list'>
list 206 is <class 'list'>
list 207 is <class 'list'>
list 208 is <class 'list'>
list 209 is <class 'list'>
list 210 is <class 'list'>
list 211 is <class 'list'>
list 212 is <class 'list'>
list 213 is <class 'list'>
list 214 is <class 'list'>
list 215 is <class 'list'>
list 216 is <class 'list'>
list 217 is <class 'list'>
list 218 is <class 'list'>
list 219 is <class 'list'>
list 220 is <class 'list'>
list 221 is <class 'list'>
list 222 is <class 'list'>
list 223 is <class 'list'>
list 224 is <class 'list'>
list 225 is <class 'list'>
list 226 is <class 'list'>
list 227 is <class 'list'>
list 228 is <class 'list'>
list 229 is <class 'list'>
list 230 is <class 'list'>
list 231 is <class 'list'>
list 232 is <class 'list'>
list 233 is <class 'list'>
list 234 is <class 'list'>
list 235 is <class 'list'>
list 236 is <class 'list'>
list 237 is <class 'list'>
list 238 is <class 'list'>
list 239 is <class 'list'>
list 240 is <class 'list'>
list 241 is <class 'list'>
list 242 is <class 'list'>
list 243 is <class 'list'>
list 244 is <class 'list'>
list 245 is <class 'list'>
list 246 is <class 'list'>
list 247 is <class 'list'>
list 248 is <class 'list'>
list 249 is <class 'list'>
list 250 is <class 'list'>
list 251 is <class 'list'>
list 252 is <class 'list'>
list 253 is <class 'list'>
list 254 is <class 'list'>
list 255 is <class 'list'>
list 256 is <class 'list'>
list 257 is <class 'list'>
list 258 is <class 'list'>
list 259 is <class 'list'>
list 260 is <class 'list'>
list 261 is <class 'list'>
list 262 is <class 'list'>
list 263 is <class 'list'>
list 264 is <class 'list'>
list 265 is <class 'list'>
list 266 is <class 'list'>
list 267 is <class 'list'>
list 268 is <class 'list'>
list 269 is <class 'list'>
list 270 is <class 'list'>
list 271 is <class 'list'>
list 272 is <class 'list'>
list 273 is <class 'list'>
list 274 is <class 'list'>
list 275 is <class 'list'>
list 276 is <class 'list'>
list 277 is <class 'list'>
list 278 is <class 'list'>
list 279 is <class 'list'>
list 280 is <class 'list'>
list 281 is <class 'list'>
list 282 is <class 'list'>
list 283 is <class 'list'>
list 284 is <class 'list'>
list 285 is <class 'list'>
list 286 is <class 'list'>
list 287 is <class 'list'>
list 288 is <class 'list'>
list 289 is <class 'list'>
list 290 is <class 'list'>
list 291 is <class 'list'>
list 292 is <class 'list'>
list 293 is <class 'list'>
list 294 is <class 'list'>
list 295 is <class 'list'>
list 296 is <class 'list'>
list 297 is <class 'list'>
list 298 is <class 'list'>
list 299 is <class 'list'>
list 300 is <class 'list'>
list 301 is <class 'list'>
list 302 is <class 'list'>
list 303 is <class 'list'>
list 304 is <class 'list'>
list 305 is <class 'list'>
list 306 is <class 'list'>
list 307 is <class 'list'>
list 308 is <class 'list'>
list 309 is <class 'list'>
list 310 is <class 'list'>
list 311 is <class 'list'>
list 312 is <class 'list'>
list 313 is <class 'list'>
list 314 is <class 'list'>
list 315 is <class 'list'>
list 316 is <class 'list'>
list 317 is <class 'list'>
list 318 is <class 'list'>
list 319 is <class 'list'>
list 320 is <class 'list'>
list 321 is <class 'list'>
list 322 is <class 'list'>
list 323 is <class 'list'>
list 324 is <class 'list'>
list 325 is <class 'list'>
list 326 is <class 'list'>
list 327 is <class 'list'>
list 328 is <class 'list'>
list 329 is <class 'list'>
list 330 is <class 'list'>
list 331 is <class 'list'>
list 332 is <class 'list'>
list 333 is <class 'list'>
list 334 is <class 'list'>
list 335 is <class 'list'>
list 336 is <class 'list'>
list 337 is <class 'list'>
list 338 is <class 'list'>
list 339 is <class 'list'>
list 340 is <class 'list'>
list 341 is <class 'list'>
list 342 is <class 'list'>
list 343 is <class 'list'>
list 344 is <class 'list'>
list 345 is <class 'list'>
list 346 is <class 'list'>
list 347 is <class 'list'>
list 348 is <class 'list'>
list 349 is <class 'list'>
list 350 is <class 'list'>
list 351 is <class 'list'>
list 352 is <class 'list'>
list 353 is <class 'list'>
list 354 is <class 'list'>
list 355 is <class 'list'>
list 356 is <class 'list'>
list 357 is <class 'list'>
list 358 is <class 'list'>
list 359 is <class 'list'>
list 360 is <class 'list'>
list 361 is <class 'list'>
list 362 is <class 'list'>
list 363 is <class 'list'>
list 364 is <class 'list'>
list 365 is <class 'list'>
list 366 is <class 'list'>
list 367 is <class 'list'>
list 368 is <class 'list'>
list 369 is <class 'list'>
list 370 is <class 'list'>
list 371 is <class 'list'>
list 372 is <class 'list'>
list 373 is <class 'list'>
list 374 is <class 'list'>
list 375 is <class 'list'>
list 376 is <class 'list'>
list 377 is <class 'list'>
list 378 is <class 'list'>
list 379 is <class 'list'>
list 380 is <class 'list'>
list 381 is <class 'list'>
list 382 is <class 'list'>
list 383 is <class 'list'>
list 384 is <class 'list'>
list 385 is <class 'list'>
list 386 is <class 'list'>
list 387 is <class 'list'>
list 388 is <class 'list'>
list 389 is <class 'list'>
list 390 is <class 'list'>
list 391 is <class 'list'>
list 392 is <class 'list'>
list 393 is <class 'list'>
list 394 is <class 'list'>
list 395 is <class 'list'>
list 396 is <class 'list'>
list 397 is <class 'list'>
list 398 is <class 'list'>
list 399 is <class 'list'>
list 400 is <class 'list'>
list 401 is <class 'list'>
list 402 is <class 'list'>
list 403 is <class 'list'>
list 404 is <class 'list'>
list 405 is <class 'list'>
list 406 is <class 'list'>
list 407 is <class 'list'>
list 408 is <class 'list'>
list 409 is <class 'list'>
list 410 is <class 'list'>
list 411 is <class 'list'>
list 412 is <class 'list'>
list 413 is <class 'list'>
list 414 is <class 'list'>
list 415 is <class 'list'>
list 416 is <class 'list'>
list 417 is <class 'list'>
list 418 is <class 'list'>
list 419 is <class 'list'>
list 420 is <class 'list'>
list 421 is <class 'list'>
list 422 is <class 'list'>
list 423 is <class 'list'>
list 424 is <class 'list'>
list 425 is <class 'list'>
list 426 is <class 'list'>
list 427 is <class 'list'>
list 428 is <class 'list'>
list 429 is <class 'list'>
list 430 is <class 'list'>
list 431 is <class 'list'>
list 432 is <class 'list'>
list 433 is <class 'list'>
list 434 is <class 'list'>
list 435 is <class 'list'>
list 436 is <class 'list'>
list 437 is <class 'list'>
list 438 is <class 'list'>
list 439 is <class 'list'>
list 440 is <class 'list'>
list 441 is <class 'list'>
list 442 is <class 'list'>
list 443 is <class 'list'>
list 444 is <class 'list'>
list 445 is <class 'list'>
list 446 is <class 'list'>
list 447 is <class 'list'>
list 448 is <class 'list'>
list 449 is <class 'list'>
list 450 is <class 'list'>
list 451 is <class 'list'>
list 452 is <class 'list'>
list 453 is <class 'list'>
list 454 is <class 'list'>
list 455 is <class 'list'>
list 456 is <class 'list'>
list 457 is <class 'list'>
list 458 is <class 'list'>
list 459 is <class 'list'>
list 460 is <class 'list'>
list 461 is <class 'list'>
list 462 is <class 'list'>
list 463 is <class 'list'>
list 464 is <class 'list'>
list 465 is <class 'list'>
list 466 is <class 'list'>
list 467 is <class 'list'>
list 468 is <class 'list'>
list 469 is <class 'list'>
list 470 is <class 'list'>
list 471 is <class 'list'>
list 472 is <class 'list'>
list 473 is <class 'list'>
list 474 is <class 'list'>
list 475 is <class 'list'>
list 476 is <class 'list'>
list 477 is <class 'list'>
list 478 is <class 'list'>
list 479 is <class 'list'>
list 480 is <class 'list'>
list 481 is <class 'list'>
list 482 is <class 'list'>
list 483 is <class 'list'>
list 484 is <class 'list'>
list 485 is <class 'list'>
list 486 is <class 'list'>
list 487 is <class 'list'>
list 488 is <class 'list'>
list 489 is <class 'list'>
list 490 is <class 'list'>
list 491 is <class 'list'>
list 492 is <class 'list'>
list 493 is <class 'list'>
list 494 is <class 'list'>
list 495 is <class 'list'>
list 496 is <class 'list'>
list 497 is <class 'list'>
list 498 is <class 'list'>
list 499 is <class 'list'>
list 500 is <class 'list'>
list 501 is <class 'list'>
list 502 is <class 'list'>
list 503 is <class 'list'>
list 504 is <class 'list'>
list 505 is <class 'list'>
list 506 is <class 'list'>
list 507 is <class 'list'>
list 508 is <class 'list'>
list 509 is <class 'list'>
list 510 is <class 'list'>
list 511 is <class 'list'>
list 512 is <class 'list'>
list 513 is <class 'list'>
list 514 is <class 'list'>
list 515 is <class 'list'>
list 516 is <class 'list'>
list 517 is <class 'list'>
list 518 is <class 'list'>
list 519 is <class 'list'>
list 520 is <class 'list'>
list 521 is <class 'list'>
list 522 is <class 'list'>
list 523 is <class 'list'>
list 524 is <class 'list'>
list 525 is <class 'list'>
list 526 is <class 'list'>
list 527 is <class 'list'>
list 528 is <class 'list'>
list 529 is <class 'list'>
list 530 is <class 'list'>
list 531 is <class 'list'>
list 532 is <class 'list'>
list 533 is <class 'list'>
list 534 is <class 'list'>
list 535 is <class 'list'>
list 536 is <class 'list'>
list 537 is <class 'list'>
list 538 is <class 'list'>
list 539 is <class 'list'>
list 540 is <class 'list'>
list 541 is <class 'list'>
list 542 is <class 'list'>
list 543 is <class 'list'>
list 544 is <class 'list'>
list 545 is <class 'list'>
list 546 is <class 'list'>
list 547 is <class 'list'>
list 548 is <class 'list'>
list 549 is <class 'list'>
list 550 is <class 'list'>
list 551 is <class 'list'>
list 552 is <class 'list'>
list 553 is <class 'list'>
list 554 is <class 'list'>
list 555 is <class 'list'>
list 556 is <class 'list'>
list 557 is <class 'list'>
list 558 is <class 'list'>
list 559 is <class 'list'>
list 560 is <class 'list'>
list 561 is <class 'list'>
list 562 is <class 'list'>
list 563 is <class 'list'>
list 564 is <class 'list'>
list 565 is <class 'list'>
list 566 is <class 'list'>
list 567 is <class 'list'>
list 568 is <class 'list'>
list 569 is <class 'list'>
list 570 is <class 'list'>
list 571 is <class 'list'>
list 572 is <class 'list'>
list 573 is <class 'list'>
list 574 is <class 'list'>
list 575 is <class 'list'>
list 576 is <class 'list'>
list 577 is <class 'list'>
list 578 is <class 'list'>
list 579 is <class 'list'>
list 580 is <class 'list'>
list 581 is <class 'list'>
list 582 is <class 'list'>
list 583 is <class 'list'>
list 584 is <class 'list'>
list 585 is <class 'list'>
list 586 is <class 'list'>
list 587 is <class 'list'>
list 588 is <class 'list'>
list 589 is <class 'list'>
list 590 is <class 'list'>
list 591 is <class 'list'>
list 592 is <class 'list'>
list 593 is <class 'list'>
list 594 is <class 'list'>
list 595 is <class 'list'>
list 596 is <class 'list'>
list 597 is <class 'list'>
list 598 is <class 'list'>
list 599 is <class 'list'>
list 600 is <class 'list'>
list 601 is <class 'list'>
list 602 is <class 'list'>
list 603 is <class 'list'>
list 604 is <class 'list'>
list 605 is <class 'list'>
list 606 is <class 'list'>
list 607 is <class 'list'>
list 608 is <class 'list'>
list 609 is <class 'list'>
list 610 is <class 'list'>
list 611 is <class 'list'>
list 612 is <class 'list'>
list 613 is <class 'list'>
list 614 is <class 'list'>
list 615 is <class 'list'>
list 616 is <class 'list'>
list 617 is <class 'list'>
list 618 is <class 'list'>
list 619 is <class 'list'>
list 620 is <class 'list'>
list 621 is <class 'list'>
list 622 is <class 'list'>
list 623 is <class 'list'>
list 624 is <class 'list'>
list 625 is <class 'list'>
list 626 is <class 'list'>
list 627 is <class 'list'>
list 628 is <class 'list'>
list 629 is <class 'list'>
list 630 is <class 'list'>
list 631 is <class 'list'>
list 632 is <class 'list'>
list 633 is <class 'list'>
list 634 is <class 'list'>
list 635 is <class 'list'>
list 636 is <class 'list'>
list 637 is <class 'list'>
list 638 is <class 'list'>
list 639 is <class 'list'>
list 640 is <class 'list'>
list 641 is <class 'list'>
list 642 is <class 'list'>
list 643 is <class 'list'>
list 644 is <class 'list'>
list 645 is <class 'list'>
list 646 is <class 'list'>
list 647 is <class 'list'>
list 648 is <class 'list'>
list 649 is <class 'list'>
list 650 is <class 'list'>
list 651 is <class 'list'>
list 652 is <class 'list'>
list 653 is <class 'list'>
list 654 is <class 'list'>
list 655 is <class 'list'>
list 656 is <class 'list'>
list 657 is <class 'list'>
list 658 is <class 'list'>
list 659 is <class 'list'>
list 660 is <class 'list'>
list 661 is <class 'list'>
list 662 is <class 'list'>
list 663 is <class 'list'>
list 664 is <class 'list'>
list 665 is <class 'list'>
list 666 is <class 'list'>
list 667 is <class 'list'>
list 668 is <class 'list'>
list 669 is <class 'list'>
list 670 is <class 'list'>
list 671 is <class 'list'>
list 672 is <class 'list'>
list 673 is <class 'list'>
list 674 is <class 'list'>
list 675 is <class 'list'>
list 676 is <class 'list'>
list 677 is <class 'list'>
list 678 is <class 'list'>
list 679 is <class 'list'>
list 680 is <class 'list'>
list 681 is <class 'list'>
list 682 is <class 'list'>
list 683 is <class 'list'>
list 684 is <class 'list'>
list 685 is <class 'list'>
list 686 is <class 'list'>
list 687 is <class 'list'>
list 688 is <class 'list'>
list 689 is <class 'list'>
list 690 is <class 'list'>
list 691 is <class 'list'>
list 692 is <class 'list'>
list 693 is <class 'list'>
list 694 is <class 'list'>
list 695 is <class 'list'>
list 696 is <class 'list'>
list 697 is <class 'list'>
list 698 is <class 'list'>
list 699 is <class 'list'>
list 700 is <class 'list'>
list 701 is <class 'list'>
list 702 is <class 'list'>
list 703 is <class 'list'>
list 704 is <class 'list'>
list 705 is <class 'list'>
list 706 is <class 'list'>
list 707 is <class 'list'>
list 708 is <class 'list'>
list 709 is <class 'list'>
list 710 is <class 'list'>
list 711 is <class 'list'>
list 712 is <class 'list'>
list 713 is <class 'list'>
list 714 is <class 'list'>
list 715 is <class 'list'>
list 716 is <class 'list'>
list 717 is <class 'list'>
list 718 is <class 'list'>
list 719 is <class 'list'>
list 720 is <class 'list'>
list 721 is <class 'list'>
list 722 is <class 'list'>
list 723 is <class 'list'>
list 724 is <class 'list'>
list 725 is <class 'list'>
list 726 is <class 'list'>
list 727 is <class 'list'>
list 728 is <class 'list'>
list 729 is <class 'list'>
list 730 is <class 'list'>
list 731 is <class 'list'>
list 732 is <class 'list'>
list 733 is <class 'list'>
list 734 is <class 'list'>
list 735 is <class 'list'>
list 736 is <class 'list'>
list 737 is <class 'list'>
list 738 is <class 'list'>
list 739 is <class 'list'>
list 740 is <class 'list'>
list 741 is <class 'list'>
list 742 is <class 'list'>
list 743 is <class 'list'>

In [58]:
# Individual Columns fro all unique values
fuzz_civitatis_expanded = fuzz_civitatis["beders_name"].apply(pd.Series)

C:\Users\beder\AppData\Local\Temp\ipykernel_9728\3173263432.py:2: FutureWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  fuzz_civitatis_expanded = fuzz_civitatis["beders_name"].apply(pd.Series)

In [59]:
# Synthetic (key) counter
fuzz_civitatis_expanded['counter'] = range(len(fuzz_civitatis))
# rename columns 
fuzz_civitatis_expanded.rename(columns = {0:'first_best',1:'second_best',2:'third_best'}, inplace = True)
fuzz_civitatis_expanded

                   first_best   second_best               third_best  counter
0                      Venice           Vic                Venhuizen        0
1                      Madrid        Mérida                   Mérida        1
2                      Prague          Page                Portmagee        2
3                     Mendoza         Lorca                Glenorchy        3
4                      London       Condado                     Lyon        4
...                       ...           ...                      ...      ...
3229  Sant Llorenç de Montgai  Santa Monica  Sant Jaume de Frontanyà     3229
3230     Vegas de San Esteban           NaN                      NaN     3230
3231        Puerto de la Cruz  Puerto Varas          Puerto Vallarta     3231
3232                     Cebu      Sesimbra                 Curitiba     3232
3233                    Coura     Cudillero                Consuegra     3233

[3234 rows x 4 columns]

In [61]:
# Merge both tables
matching_merged = pd.merge(fuzz_civitatis, fuzz_civitatis_expanded, on='counter')
matching_merged = matching_merged.drop('beders_name', axis=1)

In [62]:
matching_merged.head(50)

,destinationId,civitatis_name,counter,first_best,second_best,third_best
0,1,Venice,0,Venice,Vic,Venhuizen
1,2,Madrid,1,Madrid,Mérida,Mérida
2,3,Prague,2,Prague,Page,Portmagee
3,4,Menorca,3,Mendoza,Lorca,Glenorchy
4,5,London,4,London,Condado,Lyon
5,6,Marrakech,5,Marrakech,Marken,NaN
6,7,Dublin,6,Dublin,Dubai,Duingt
7,8,New York,7,New York City,York,NaN
8,9,Las Vegas,8,Las Vegas,La Vega,Las Galeras
9,12,Valladolid,9,Valladolid,Valladolid,Nalladai
10,13,Bangkok,10,Bangkok,Sanok,Hanko
11,14,Budapest,11,Budapest,Bucharest,Budva
12,15,Hong Kong,12,Pong Yaeng,NaN,NaN
13,16,Paris,13,Paris,Pardiñas,Paradise
14,17,Lisbon,14,Lisbon,Livingston,Sispony
15,18,Dubai,15,Dubai,Mumbai,Dublin
16,19,Rome,16,Rome,Nome,Roses
17,20,Florence,17,Florence,Flores,Glencoe
18,21,Istanbul,18,Istanbul,Kabul,NaN
19,22,Singapore,19,Singakerta,Siangan,Pingyao
20,23,Amsterdam,20,Amsterdam,Rotterdam,Amposta
21,24,Tokyo,21,Toro,Tokyo City,Mokpo
22,25,Porto,22,Porto,Portimão,Loreto
23,26,San Francisco,23,San Francisco,Sant Francesc,Sant Ferran
24,27,Miami,24,Miami,Michamvi,Miami Beach
25,28,Brussels,25,Brussels,Bruges,Bassella
26,29,Vienna,26,Vienna,Siena,Verona
27,30,Berlin,27,Berlin,Bern,Teelin
28,31,Edinburgh,28,Edinburgh,NaN,NaN
29,32,Fez,29,Foz,Fet,NaN
30,33,Athens,30,Athens,Aachen,Ansa
31,35,Barcelona,31,Barcelona,Bargemon,Badalona
32,36,Maldives,32,Saldes,Madison,Valdivia
33,40,Milan,33,Milan,Pilani,Manila
34,42,Beijing,34,Beijing,Beng,Diqing
35,43,Shanghai,35,Shanghai,Changi,Schwangau
36,44,Bali,36,Bangli,Bari,Bandoli
37,46,Oslo,37,Oslo,Olot,Osorno
38,47,Bucharest,38,Bucharest,Budapest,Charleston
39,48,Buenos Aires,39,Buenos Aires,Benares,NaN
40,49,Ibiza,40,Ibiza City,Yaiza,Xàbia
41,50,Munich,41,Munich,Funchal,NaN
42,51,Bruges,42,Bruges,Berge,Burgos
43,52,Granada,43,Granada,Granada,Granadilla
44,53,Cuenca,44,Cuenca,Quena,Huesca
45,54,Riviera Maya,45,Riviera Maya,Riviera Nayarit,NaN
46,55,Krakow,46,Kraków,Kirkop,Karakoumi
47,56,Xi'an,47,Xi'An,Tai'an,Xàbia
48,57,Seville,48,Seville,Asheville,Serravalle
49,58,Ghent,49,Ghent,NaN,NaN

In [150]:
# Export to csv
matching_merged.to_csv('C:/Users/beder/Desktop/Data 2022/Projects/CIVITATIS-IMPLEMENTATION2022/Project Files/CIVITATIS-GLOBAL-TASKS/name_matching/output/matching_names.csv')

##### Recover city_id from manual cleaning

In [17]:
# Read table from excel
clean_manual=pd.read_excel ('C:/Users/beder/Desktop/Data 2022/Projects/CIVITATIS-IMPLEMENTATION2022/Project Files/CIVITATIS-GLOBAL-TASKS/name_matching/input/matching_civitatis_beder_v2.xlsx')
clean_manual

,Unnamed: 0,destinationId,civitatis_name,final_name,first_best,second_best,third_best,true/false,counter,ambiguous
0,0,1,Venice,Venice,Venice,Vic,Venhuizen,True,0,NaN
1,1,2,Madrid,Madrid,Madrid,Mérida,Mérida,True,1,NaN
2,2,3,Prague,Prague,Prague,Page,Pirque,True,2,NaN
3,3,4,Menorca,Ciutadella,Mendoza,Lorca,Glenorchy,False,3,NaN
4,4,5,London,London,London,Condado,Lyon,True,4,NaN
...,...,...,...,...,...,...,...,...,...,...
3229,3229,4842,Santa Fe de Mondújar,NaN,Sant Llorenç de Montgai,Santa Monica,Sant Jaume de Frontanyà,False,3229,NaN
3230,3230,4843,Pedrajas de San Esteban,NaN,Vegas de San Esteban,NaN,NaN,False,3230,NaN
3231,3231,4844,Puerto de Carti,NaN,Puerto de la Cruz,Puerto Varas,Puerto Vallarta,False,3231,NaN
3232,3232,4845,Ceiba,NaN,Cebu,Sesimbra,Curitiba,False,3232,NaN
3233,3233,4846,Culebra,NaN,Coura,Cudillero,Consuegra,False,3233,NaN

In [64]:
clean_manual.count()

Unnamed: 0        3234
destinationId     3234
civitatis_name    3234
final_name         783
first_best        2741
second_best       2194
third_best        1747
true/false        3234
counter           3234
ambiguous            6
dtype: int64

In [19]:
clean_manual['true/false'].value_counts()

False    2575
True      659
Name: true/false, dtype: int64

In [65]:
# Merge fuzz_cities (to recover city_id) and clean_manual
final_table= pd.merge( clean_manual, fuzz_cities, how = 'left',left_on='final_name',right_on='english_name')
final_table

,Unnamed: 0,destinationId,civitatis_name,final_name,first_best,second_best,third_best,true/false,counter,ambiguous,city_id,english_name,spanish_name,country_id
0,0,1,Venice,Venice,Venice,Vic,Venhuizen,True,0,NaN,213.0,Venice,Venecia,25.0
1,1,2,Madrid,Madrid,Madrid,Mérida,Mérida,True,1,NaN,29.0,Madrid,Madrid,1.0
2,2,3,Prague,Prague,Prague,Page,Pirque,True,2,NaN,100054.0,Prague,Praga,13.0
3,3,4,Menorca,Ciutadella,Mendoza,Lorca,Glenorchy,False,3,NaN,300078.0,Ciutadella,Ciutadella,1.0
4,4,5,London,London,London,Condado,Lyon,True,4,NaN,100017.0,London,Londres,20.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3248,3229,4842,Santa Fe de Mondújar,NaN,Sant Llorenç de Montgai,Santa Monica,Sant Jaume de Frontanyà,False,3229,NaN,NaN,NaN,NaN,NaN
3249,3230,4843,Pedrajas de San Esteban,NaN,Vegas de San Esteban,NaN,NaN,False,3230,NaN,NaN,NaN,NaN,NaN
3250,3231,4844,Puerto de Carti,NaN,Puerto de la Cruz,Puerto Varas,Puerto Vallarta,False,3231,NaN,NaN,NaN,NaN,NaN
3251,3232,4845,Ceiba,NaN,Cebu,Sesimbra,Curitiba,False,3232,NaN,NaN,NaN,NaN,NaN
3252,3233,4846,Culebra,NaN,Coura,Cudillero,Consuegra,False,3233,NaN,NaN,NaN,NaN,NaN

In [66]:
final_table=final_table[['destinationId','civitatis_name','final_name','english_name','city_id']]
final_table

,destinationId,civitatis_name,final_name,english_name,city_id
0,1,Venice,Venice,Venice,213.0
1,2,Madrid,Madrid,Madrid,29.0
2,3,Prague,Prague,Prague,100054.0
3,4,Menorca,Ciutadella,Ciutadella,300078.0
4,5,London,London,London,100017.0
...,...,...,...,...,...
3248,4842,Santa Fe de Mondújar,NaN,NaN,NaN
3249,4843,Pedrajas de San Esteban,NaN,NaN,NaN
3250,4844,Puerto de Carti,NaN,NaN,NaN
3251,4845,Ceiba,NaN,NaN,NaN
3252,4846,Culebra,NaN,NaN,NaN

In [68]:
filt_final_table =final_table[final_table['final_name'].notnull()] 
filt_final_table

      destinationId civitatis_name  final_name english_name    city_id
0                 1         Venice      Venice       Venice      213.0
1                 2         Madrid      Madrid       Madrid       29.0
2                 3         Prague      Prague       Prague   100054.0
3                 4        Menorca  Ciutadella   Ciutadella   300078.0
4                 5         London      London       London   100017.0
...             ...            ...         ...          ...        ...
3217           4811        Neuquén     Neuquén      Neuquén      885.0
3219           4813       Kaneohe      Kaneohe      Kaneohe      736.0
3236           4830         Loreto      Loreto       Loreto  1200080.0
3244           4838         Cuiabá      Cuiabá       Cuiabá      971.0
3247           4841        La Roda     La Roda      La Roda  1200018.0

[802 rows x 5 columns]

In [70]:
# Export final table 
filt_final_table.to_csv('C:/Users/beder/Desktop/Data 2022/Projects/CIVITATIS-IMPLEMENTATION2022/Project Files/CIVITATIS-GLOBAL-TASKS/name_matching/output/final_matching.csv')